/* CSS Document */

*{
	font-size: 100%;
	font-family: Arial;
	background-color: #fffeb5;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color:white;
}

#wrapper {
	background-color: white;
	margin: inherit;
	overflow: auto;
}